@font-face {
    font-family: "Souvenir";
    src: url("../fonts/souvenir.ttf") format("truetype"),
        url("../fonts/souvenir.woff2") format("woff2");
}


/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */html{line-height:1.15;-webkit-text-size-adjust:100%}body{margin:0}main{display:block}h1{font-size:2em;margin:0.67em 0}hr{-webkit-box-sizing:content-box;box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace, monospace;font-size:1em}a{background-color:transparent}abbr[title]{border-bottom:none;text-decoration:underline;-webkit-text-decoration:underline dotted;text-decoration:underline dotted}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace, monospace;font-size:1em}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-0.25em}sup{top:-0.5em}img{border-style:none}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,[type="button"],[type="reset"],[type="submit"]{-webkit-appearance:button}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type="button"]:-moz-focusring,[type="reset"]:-moz-focusring,[type="submit"]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:0.35em 0.75em 0.625em}legend{-webkit-box-sizing:border-box;box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{vertical-align:baseline}textarea{overflow:auto}[type="checkbox"],[type="radio"]{-webkit-box-sizing:border-box;box-sizing:border-box;padding:0}[type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button{height:auto}[type="search"]{-webkit-appearance:textfield;outline-offset:-2px}[type="search"]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details{display:block}summary{display:list-item}template{display:none}[hidden]{display:none}



p,
h1,
h2,
h3,
h4,
h5,
h6{
    margin: 0;
    padding: 0;
}
html{
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
*{outline:none;}
*,
*::before,
*::after{
    box-sizing: inherit;
}
body{
    overflow-x: hidden;
    font-family: 'Souvenir', 'Ubuntu', sans-serif;
    /* font-family: 'Neucha', cursive; */
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2783FE;
    box-shadow: 0px 1px 2px rgba(123, 97, 255, 0.25);
    border-radius: 72px;
    width: 311px;
    height: 70px;

    font-weight: 700;
    line-height: 130%;
    color: #FFFFFF;
    font-size: 20px;
    padding-right: 52px;
    position: relative;
    z-index: 1;
}
.btn::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 3px;
    background: linear-gradient(174.82deg, #7BC0FF 4.38%, #2783FE 96.06%);
    box-shadow: 0px 1px 2px rgba(123, 97, 255, 0.25);

    border-radius: 72px;
    z-index: -1;
}
.btn::after    {
    position: absolute;
    content: "";
    background: #2783FE;
    opacity: 0.8;
    filter: blur(35px);
    border-radius: 72px;
    width: 243px;
    height: 55px;
    bottom: -22px;
    right: 50%;
    transform: translateX(50%);
    z-index: -1;
}
.btn span{
    position: absolute;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    box-shadow: inset 0px 0px 1px rgba(255, 255, 255, 0.25);
    border-radius: 113px;
    right: 34px;
    top: 50%;
    transform: translateY(-50%);
    background: linear-gradient(174.82deg, #2783FE 4.38%, #7BC0FF 96.06%);
}
.btn span::before{
    position: absolute;
    content: "";
    background-image: url(../img/main_btn.svg);
    background-size: cover;
    width: 17px;
    height: 14px;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
}
.container{
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 15px;
}
.header{
    position: relative;
    z-index: 10;
}
.header_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
}
.menu{
    display: flex;
}
.menu_link{
    font-size: 16px;
    line-height: 130%;
    color: #2783FE;
    margin: 0 18px;
}


.main{
    padding: 82px 0 193px;
    background-image: url(../img/main_bg.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}
.main::before{
    position: absolute;
    content: "";
    background-image: url(../img/cloud.png);
    background-size: cover;
    width: 100%;
    height: 324px;
    bottom: -123px;
    left: 0;
}
.main_title{
    font-weight: 600;
    width: 60%;
    font-size: 44px;
    line-height: 130%;
    background: linear-gradient(95.89deg, #7BC0FF -9.88%, #2783FE 82.48%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 13px;
}
.main_item{
    font-size: 22px;
    line-height: 200%;
    color: #172C48;
    padding-left: 30px;
    position: relative;
}
.main_item::before{
    position: absolute;
    content: "";
    background-image: url(../img/main_item.svg);
    background-size: cover;
    width: 20px;
    height: 20px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.main_items{
    margin-bottom: 75px;
}
.main_wrapper{
    display: flex;
}

.main_video{
    display: flex;
    align-items: center;

    position: relative;
    z-index: 1;
}
.main_video::before{
    position: absolute;
    content: "";
    width: 120%;
    height: 100%;
    top: 0;
    left: 0;
    background: #FFFFFF;
    filter: blur(18px);
    border-radius: 82px;
    z-index: -1;
}
.main_video-btn{
    width: 74px;
    height: 74px;
    background-image: url(../img/main_video-btn.svg);
    margin-right: 40px;
    position: relative;
    display: block;
    z-index: 1;
}
.main_video-btn::before{
    position: absolute;
    content: "";
    top: -10px;
    right: -10px;
    bottom: -10px;
    left: -10px;
    background: linear-gradient(174.82deg, #7BC0FF 4.38%, #2783FE 96.06%);
    opacity: 0.1;
    border-radius: 50%;
    z-index: -1;
}
.main_video-btn::after{
    position: absolute;
    content: "";
    top: -20px;
    right: -20px;
    bottom: -20px;
    left: -20px;
    background: linear-gradient(174.82deg, #7BC0FF 4.38%, #2783FE 96.06%);
    opacity: 0.1;
    border-radius: 50%;
    z-index: -1;
}
.main_btn{
    margin-right: 125px;
}
.main_video-title{
    font-size: 15px;
    line-height: 110%;
    color: #172C48;
    margin-bottom: 5px;
}
.main_video-text{
    font-weight: 300;
    font-size: 13px;
    line-height: 150%;
    color: #516176;
}

.how{
    padding: 110px 0 215px;
    position: relative;
}
.how::before{
    position: absolute;
    content: "";
    background-image: url(../img/cloud2.png);
    background-size: cover;
    width: 100%;
    height: 324px;
    bottom: -155px;
    left: 0;
}
.how_title{
    font-weight: 700;
    font-size: 50px;
    line-height: 130%;
    text-align: center;
    background: linear-gradient(95.89deg, #7BC0FF -9.88%, #2783FE 82.48%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 70px;
}
.how_items{
    display: flex;
    justify-content: space-between;
    margin-bottom: 85px;
}
.how_item{
    position: relative;
    width: 23%;
    padding-top: 395px;
}
.how_item:nth-child(2) .how_item-bef{
    background: #2783FE;
}
.how_item:nth-child(2) .how_item-bef::after{
    background: #2783FE;
}
.how_item:nth-child(2) .how_item-bef::before{
    background: #2783FE;
}
.how_item-bef{
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #F48534;
    right: -75px;
    top: 180px;
}
.how_item-bef::before{
    position: absolute;
    content: "";
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #F48534;
    left: -35px;
    top: 50%;
    transform: translateY(-50%);
}
.how_item-bef::after{
    position: absolute;
    content: "";
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #F48534;
    right: -35px;
    top: 50%;
    transform: translateY(-50%);
}
.how_item-img{
    position: absolute;
    top: 0;
    left: -55px;
}
.how_item:last-child .how_item-img{
    top: -125px;
    right: 50%;
    transform: translateX(50%);
    left: auto;
}
.how_item-title{
    font-weight: 700;
    line-height: 120%;
    color: #172C48;
    font-size: 27px;
    margin-bottom: 16px;
}
.how_item-info{
    position: relative;
}
.how_item-text{
    font-size: 18px;
    line-height: 150%;
    color: #516176;
}
.how_item-number{
    position: absolute;
    font-family: 'Souvenir', 'Neucha', cursive;
    font-size: 200px;
    line-height: 110%;
    opacity: 0.1;
    background: linear-gradient(180deg, #F09819 0%, #EF7821 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    left: -36px;
    top: 55%;
    transform: translateY(-50%);
}
.how_wrapper{
    display: flex;
    align-items: center;
}
.how_wrapper-img{
    display: flex;
    margin-right: 65px;
}
.how_wrapper-info{
    position: relative;
}
.how_wrapper-title{
    font-weight: 700;
    font-size: 27px;
    line-height: 120%;
    color: #172C48;
    margin-bottom: 16px;
}
.how_wrapper-text{
    font-size: 18px;
    line-height: 150%;
    color: #516176;
    margin-bottom: 44px;
    max-width: 385px;
}
.how_wrapper-info .how_item-number{
    top: -10px;
    transform: none;
}

.motives{
    padding: 100px 0 73px;
    background-image: url(../img/motives_bg.jpg);
    background-size: cover;
    background-position: center;
}
.motives_title{
    text-align: center;
    font-weight: 700;
    line-height: 100%;
    color: #172C48;
    font-size: 50px;
    margin-bottom: 380px;
}
.motives_item{
    position: relative;
    height: inherit;

    margin-right: 35px;
    z-index: 1;
}
.motives_item-info{
    height: 100%;
    padding: 10px 10px 34px;
    background: #FFFFFF;
    box-shadow: 0px 100px 80px rgba(152, 93, 1, 0.0281146), 0px 41.7776px 33.4221px rgba(152, 93, 1, 0.0403893), 0px 22.3363px 17.869px rgba(152, 93, 1, 0.05), 0px 12.5216px 10.0172px rgba(152, 93, 1, 0.0596107), 0px 6.6501px 5.32008px rgba(152, 93, 1, 0.0718854), 0px 2.76726px 2.21381px rgba(152, 93, 1, 0.1);
    border-radius: 30px;
}
.motives_item::before{
    position: absolute;
    content: "";
    top: 0;
    right: 10px;
    left: 10px;
    bottom: -10px;
    background: #FFFFFF;
    box-shadow: 0px 100px 80px rgba(152, 93, 1, 0.0281146), 0px 41.7776px 33.4221px rgba(152, 93, 1, 0.0403893), 0px 22.3363px 17.869px rgba(152, 93, 1, 0.05), 0px 12.5216px 10.0172px rgba(152, 93, 1, 0.0596107), 0px 6.6501px 5.32008px rgba(152, 93, 1, 0.0718854), 0px 2.76726px 2.21381px rgba(152, 93, 1, 0.1);
    border-radius: 30px;
    z-index: -1;
}
/* .motives_item.slick-current .motives_item-info{
    box-shadow: none;
}
.motives_item.slick-current::before{
    box-shadow: none;
} */
.motives_slider .slick-track{
    display: flex;
    padding-bottom: 115px;
}
.motives_item-img{
    width: 100%;
    height: 205px;
    margin-bottom: 22px;
}
.motives_item-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.motives_item-title{
    padding-left: 28px;
    font-weight: 500;
    line-height: 110%;
    color: #172C48;
    font-size: 24px;
    margin-bottom: 12px;
}
.motives_item-text{
    font-size: 16px;
    line-height: 150%;
    color: #516176;
    padding-left: 28px;
}
.motives_item-text span{
    font-weight: 700;

}
.motives_slider{
    margin-left: 350px;
    position: relative;
    z-index: 2;
}
.motives_slider .slick-arrow{
    position: absolute;
    bottom: 0;
    font-size: 0;
    cursor: pointer;
    z-index: 1;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: none;
    background: linear-gradient(174.82deg, #7BC0FF 4.38%, #2783FE 96.06%);
    box-shadow: inset 0px 0px 5px rgba(255, 255, 255, 0.25);
}
.motives_slider .slick-arrow::before{
    position: absolute;
    content: "";
    width: 44px;
    background: #2783FE;
    opacity: 0.8;
    filter: blur(35px);
    border-radius: 50%;
    height: 44px;
    right: 50%;
    transform: translateX(50%);
    bottom: -8px;
}
.motives_slider .slick-next{
    left: 65px;
}
.motives_slider .slick-next::after{
    position: absolute;
    content: "<- ->";
    font-size: 16px;
    line-height: 150%;
    font-family: 'Souvenir', 'Ubuntu', sans-serif;
    color: #9EA3AB;
    white-space: nowrap;
    right: -175px;
    top: 50%;
    transform: translateY(-50%);
}
.motives_slider .slick-prev{
    left: 0;
}
.slick-dots{
    position: absolute;
    bottom: 10px;
    left: 336px;
}
.slick-dots li{
    display: none;
}
.slick-dots li.slick-active{
    display: flex;
}
.slick-dots button{
    border: none;
    background: none;
}
.slick-dots-current{
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    color: #2783FE;
}
.slick-dots-separator,
.slick-dots-total{
    font-size: 16px;
    line-height: 150%;
    color: #9EA3AB;
}
.slick-active.motives_item{
    opacity: 1;
}
.motives_slider .slick-list{
    overflow: visible;
}



.we_block{
    padding: 45px 0 250px;
    position: relative;
    z-index: 1;
}
.we_block::before{
    position: absolute;
    content: "";
    background-image: url(../img/we_block-bg.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: calc(100% + 553px);
    z-index: -1;
    top: -553px;
}
.we_block::after{
    position: absolute;
    content: "";
    background-image: url(../img/we_block-bef.svg);
    background-size: cover;
    width: 313.46px;
    height: 332.92px;
    left: 92px;
    bottom: -45px;
}
.motives_item {
    opacity: 0;
}
.we_block-title{
    font-weight: 700;
    line-height: 130%;
    color: #172C48;
    font-size: 50px;
    margin-bottom: 80px;
    text-align: center;
}
.we_block-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.we_block-item{
    width: 23%;
    margin-bottom: 35px;
    position: relative;
}
.we_block-item:nth-child(1):after,
.we_block-item:nth-child(2):after,
.we_block-item:nth-child(3):after{
    position: absolute;
    content: "";
    background-image: url(../img/we_block-star.svg);
    background-size: cover;
    width: 33px;
    height: 34px;
    right: -33px;
    bottom: -33px;
}
.we_block-item::before{
    position: absolute;
    content: "";
    top: 10px;
    right: 10px;
    left: 10px;
    bottom: -10px;
    background: #FFFFFF;
    box-shadow: 0px 100px 80px rgba(152, 93, 1, 0.0281146), 0px 41.7776px 33.4221px rgba(152, 93, 1, 0.0403893), 0px 22.3363px 17.869px rgba(152, 93, 1, 0.05), 0px 12.5216px 10.0172px rgba(152, 93, 1, 0.0596107), 0px 6.6501px 5.32008px rgba(152, 93, 1, 0.0718854), 0px 2.76726px 2.21381px rgba(152, 93, 1, 0.1);
    border-radius: 30px;
}
.we_block-info{
    background: #FFFFFF;
    box-shadow: 0px 100px 80px rgba(152, 93, 1, 0.0281146), 0px 41.7776px 33.4221px rgba(152, 93, 1, 0.0403893), 0px 22.3363px 17.869px rgba(152, 93, 1, 0.05), 0px 12.5216px 10.0172px rgba(152, 93, 1, 0.0596107), 0px 6.6501px 5.32008px rgba(152, 93, 1, 0.0718854), 0px 2.76726px 2.21381px rgba(152, 93, 1, 0.1);
    border-radius: 30px;
    position: relative;
    padding: 263px 25px 35px 35px;
    height: 100%;
}
.we_block-item_img{
    position: absolute;
    top: 0;
}
.we_block-item:nth-child(1) .we_block-item_img{
    right: 7px;
    top: -22px;
}
.we_block-item:nth-child(7) .we_block-item_img{
    right: 26px;
    top: 33px;
}
.we_block-item:nth-child(3) .we_block-item_img{
    left: 0;
    top: 86px;
}
.we_block-item:nth-child(8) .we_block-item_img{
    left: -26px;
    top: -33px;
}
.we_block-item:nth-child(6) .we_block-item_img{
    left: -16px;
    top: -72px;
}
.we_block-item:nth-child(5) .we_block-item_img{
    top: 10px;
    right: -8px;
}
.we_block-item:nth-child(2) .we_block-item_img{
    top: -63px;
    left: -40px;
}
.we_block-item:nth-child(4) .we_block-item_img{
    top: -72px;
    left: -40px;
}
.we_block-item_title{
    font-weight: 500;
    line-height: 110%;
    text-align: center;
    color: #172C48;
    font-size: 24px;
    margin-bottom: 14px;
}
.we_block-item_text{
    font-size: 16px;
    text-align: center;
    color: #516176;
    line-height: 150%;
}





.gallery{
    padding-top: 110px;
    position: relative;
}
.gallery_img{
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
    z-index: -1;
}
.gallery_img1{
    position: absolute;
    right: 75px;
    top: -137px;
    z-index: -1;
}
.gallery_img2{
    position: absolute;
    bottom: 100px;
    left: 0;
}
.gallery_title{
    text-align: center;
    font-weight: 700;
    line-height: 130%;
    color: #172C48;
    margin-bottom: 80px;
    font-size: 50px;
}
.gallery_content{
    display: none;
}
.gallery_content.active{
    display: block;
}
.gallery_item{
    margin: 0 15px;
}
.gallery_wrapper{
    margin: 0 -15px 40px;
}
.gallery_content{
    width: 100%;
    margin-bottom: 20px;
    height: 386px;
    border-radius: 30px;
    overflow: hidden;
}
.gallery_content img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.gallery_tabs{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.gallery_tab{
    width: 32%;
    height: 122px;
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}
.gallery_tab.active::before{
    display: none;
}
.gallery_tab::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255, 0.8);
}
.gallery_tab img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.gallery_item-title{
    font-weight: 500;
    line-height: 110%;
    text-align: center;
    color: #000000;
    font-size: 24px;
}
.gallery_wrapper .slick-arrow{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 0;
    cursor: pointer;
    z-index: 1;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: none;
    background: linear-gradient(174.82deg, #7BC0FF 4.38%, #2783FE 96.06%);
    box-shadow: inset 0px 0px 5px rgba(255, 255, 255, 0.25);
}
.gallery_wrapper .slick-arrow::before{
    position: absolute;
    content: "";
    width: 44px;
    background: #2783FE;
    opacity: 0.8;
    filter: blur(35px);
    border-radius: 50%;
    height: 44px;
    right: 50%;
    transform: translateX(50%);
    bottom: -8px;
}
.gallery_wrapper .slick-next{
    right: -86px;
}
.gallery_wrapper .slick-prev{
    left: -86px;
}
.gallery_inner{
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}
.gallery_video{
    width: 48%;
}
.gallery_video-body{
    margin-bottom: 20px;
    position: relative;
    border-radius: 12px;
    overflow: hidden;
}
.gallery_video-body span{
    background-image: url(../img/main_video-btn.svg);
    background-size: cover;
    width: 74px;
    height: 73px;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
}
.gallery_video-body span::before{
    position: absolute;
    content: "";
    top: -10px;
    right: -10px;
    bottom: -10px;
    left: -10px;
    background: linear-gradient(174.82deg, #7BC0FF 4.38%, #2783FE 96.06%);
    opacity: 0.1;
    border-radius: 50%;
    z-index: -1;
}
.gallery_video-body span::after{
    position: absolute;
    content: "";
    top: -20px;
    right: -20px;
    bottom: -20px;
    left: -20px;
    background: linear-gradient(174.82deg, #7BC0FF 4.38%, #2783FE 96.06%);
    opacity: 0.1;
    border-radius: 50%;
    z-index: -1;
}
.gallery_video-body img{
    width: 100%;
    height: 100%;
}
.gallery_video-title{
    font-weight: 500;
    line-height: 110%;
    text-align: center;
    color: #000000;
    font-size: 24px;
}
.gallery_btn{
    margin: 0 auto;
}


.form{
    padding: 280px 0 485px;
    background-image: url(../img/form_bg.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}
.form::before{
    position: absolute;
    content: "";
    background-image: url(../img/cloud.png);
    background-size: cover;
    width: 100%;
    height: 324px;
    bottom: 0;
    left: 0;
    z-index: 3;
}
.form_woman{
    position: absolute;
    bottom: 70px;
    right: 340px;
    z-index: 2;
}
.form_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.form_inner{
    position: relative;
    width: 32%;
    z-index: 3;
}
.form_inner::before{
    position: absolute;
    content: "";
    top: 10px;
    right: 10px;
    left: 10px;
    bottom: -10px;
    background: #FFFFFF;
    box-shadow: 0px 100px 80px rgba(152, 93, 1, 0.0281146), 0px 41.7776px 33.4221px rgba(152, 93, 1, 0.0403893), 0px 22.3363px 17.869px rgba(152, 93, 1, 0.05), 0px 12.5216px 10.0172px rgba(152, 93, 1, 0.0596107), 0px 6.6501px 5.32008px rgba(152, 93, 1, 0.0718854), 0px 2.76726px 2.21381px rgba(152, 93, 1, 0.1);
    border-radius: 30px;
    z-index: -1;
}
.form_inner-info{
    background: #FFFFFF;
    box-shadow: 0px 100px 80px rgba(152, 93, 1, 0.0281146), 0px 41.7776px 33.4221px rgba(152, 93, 1, 0.0403893), 0px 22.3363px 17.869px rgba(152, 93, 1, 0.05), 0px 12.5216px 10.0172px rgba(152, 93, 1, 0.0596107), 0px 6.6501px 5.32008px rgba(152, 93, 1, 0.0718854), 0px 2.76726px 2.21381px rgba(152, 93, 1, 0.1);
    border-radius: 30px;
    padding: 30px 40px 40px;
}
.form_title{
    font-weight: 500;
    line-height: 130%;
    text-align: center;
    color: #172C48;
    margin-bottom: 30px;
    font-size: 24px;
}
.form_inp-wrapper{
    position: relative;
    margin-bottom: 15px;
}
.form_inp-wrapper span{
    font-size: 16px;
    line-height: 150%;
    color: #2783FE;
    border: 6px solid #FFFFFF;
    background-color: #fff;
    position: absolute;
    left: 20px;
    top: -19px;
}
.form_inp{
    width: 100%;
    border: 1px solid #2783FE;
    box-sizing: border-box;
    height: 70px;
    padding-left: 20px;
    border-radius: 10px;
}
.form_connection-title{
    text-align: center;
    line-height: 150%;
    color: #516176;
    margin-bottom: 10px;
}
.form_cheks{
    display: flex;
    margin-bottom: 23px;
    border: 1px solid #516176;
    border-radius: 5px;
}
.form_chek-inp{
    display: none;
}
.form_chek-label{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    width: 33%;
}
.form_chek{
    font-size: 12px;
    line-height: 150%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    color: #516176;
    border-right: 1px solid #516176;
    cursor: pointer;
}
.form_chek-label:last-child .form_chek{
    border: none;
}
.form_chek-inp:checked + .form_chek{
    background: #516176;
    color: #fff;
}
.form_btn{
    cursor: pointer;
    border: none;
    margin-top: 30px;
}
.form_ok{
    display: flex;
    align-items: center;
    margin-top: 15px;
}
.form_ok span{
    display: block;
    margin-right: 10px;
}
.form_ok-text{
    font-size: 12px;
    text-align: center;
    color: #8B96A4;
    line-height: 150%;
}
.form_ok-text a{
    text-decoration: underline;
    color: #8B96A4;
}

.form_text{
    width: 65%;
    padding: 45px 45px 45px 175px;
    background: #FFFFFF;
    border-radius: 30px;
    font-weight: 500;
    line-height: 130%;
    color: #172C48;
    font-size: 24px;
    position: relative;
    z-index: 1;
}
.form_text::before{
    position: absolute;
    content: "";
    background-image: url(../img/form_text-bef.png);
    background-size: cover;
    width: 213px;
    height: 213px;
    bottom: 5px;
    left: -20px;
}
.form_text::after{
    position: absolute;
    content: "";
    background: #FFFFFF;
    border-radius: 10px;
    width: 77px;
    height: 77px;
    bottom: 0;
    right: 37%;
    transform: translate(50%,40%) rotate(135deg);
    z-index: -1;
}
.form_text-img{
    position: absolute;
    top: -105px;
    left: -50px;
}
.form_text span{
    color: #2783FE;
}
.faq{
    padding-bottom: 140px;
    position: relative;
}
.faq_img{
    position: absolute;
    top: 0;
    left: 90px;
    z-index: -1;
}
.faq_title{
    font-weight: 700;
    line-height: 130%;
    color: #172C48;
    font-size: 50px;
    margin-bottom: 80px;
    text-align: center;
}
.faq_wrapper{
    max-width: 800px;
    margin: 0 auto;
    position: relative;
}
.faq_item{
    width: 100%;
    box-shadow: 0px 100px 80px rgba(152, 93, 1, 0.0281146), 0px 41.7776px 33.4221px rgba(152, 93, 1, 0.0403893), 0px 22.3363px 17.869px rgba(152, 93, 1, 0.05), 0px 12.5216px 10.0172px rgba(152, 93, 1, 0.0596107), 0px 6.6501px 5.32008px rgba(152, 93, 1, 0.0718854), 0px 2.76726px 2.21381px rgba(152, 93, 1, 0.1);
    border-radius: 30px;
    margin-bottom: 27px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    background: #FFF7F3;
}
.faq_item-title{
    background: #FFF7F3;
    border-radius: 30px;
    padding: 36px 75px 36px 40px;
    font-weight: 500;
    line-height: 120%;
    color: #172C48;
    font-size: 24px;
    position: relative;
    cursor: pointer;
}
.faq_item-title span{
    background: #FBE1BA;
    position: absolute;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
}
.faq_item-title span::before{
    position: absolute;
    content: "";
    width: 14px;
    height: 4px;
    background-color: #fff;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50% );
}
.faq_item-title span::after{
    position: absolute;
    content: "";
    width: 4px;
    height: 14px;
    background-color: #fff;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50% );
    transition: all 0.5s;
}
.faq_item-title.active span::after{
    transform: translate(50%,-50%) rotate(90deg);
}
.faq_content{
    display: none;
    padding: 30px 40px 35px;
    font-size: 16px;
    line-height: 150%;
    color: #172C48;
    background-color: #fff;
}
.faq_content span{
    font-weight: 700;
}


.reviews{
    padding-bottom: 130px;
}
.reviews_title{
    font-weight: 700;
    line-height: 130%;
    color: #172C48;
    text-align: center;
    font-size: 50px;
    margin-bottom: 80px;
}
.reviews_item{
    margin: 0 77px;
    position: relative;
    z-index: 1;
}
.reviews_item.slick-active{
    transform: scale(1);
}
.reviews_item::before{
    position: absolute;
    content: "";
    background: #FFF7F3;
    box-shadow: 0px 100px 80px rgba(152, 93, 1, 0.0281146), 0px 41.7776px 33.4221px rgba(152, 93, 1, 0.0403893), 0px 22.3363px 17.869px rgba(152, 93, 1, 0.05), 0px 12.5216px 10.0172px rgba(152, 93, 1, 0.0596107), 0px 6.6501px 5.32008px rgba(152, 93, 1, 0.0718854), 0px 2.76726px 2.21381px rgba(152, 93, 1, 0.1);
    border-radius: 30px;
    top: 10px;
    right: 10px;
    left: 10px;
    bottom: -10px;
    z-index: -1;
}
.reviews_item-wrapper{
    padding: 30px;
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    background: #FFF7F3;
    box-shadow: 0px 100px 80px rgba(152, 93, 1, 0.0281146), 0px 41.7776px 33.4221px rgba(152, 93, 1, 0.0403893), 0px 22.3363px 17.869px rgba(152, 93, 1, 0.05), 0px 12.5216px 10.0172px rgba(152, 93, 1, 0.0596107), 0px 6.6501px 5.32008px rgba(152, 93, 1, 0.0718854), 0px 2.76726px 2.21381px rgba(152, 93, 1, 0.1);
    border-radius: 30px;
}
.reviews_item.slick-active .reviews_item-wrapper{
    padding: 40px;
}
.reviews_item.slick-active .reviews_item-img{
    width: 248px;
}
.reviews_item.slick-active .reviews_item-info{
    width: calc(100% - 288px);
}
.reviews_wrapper .slick-list{
    padding: 0 20% 100px;
}
.reviews_wrapper .slick-list,
.reviews_wrapper .slick-track{
    display: flex;
    align-items: center;
}
.reviews_item-img{
    width: 184px;
}
.reviews_item-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.reviews_item-info{
    width: calc(100% - 215px);
}
.reviews_wrapper .slick-arrow{
    position: absolute;
    top: calc(50% - 50px);
    transform: translateY(-50%);
    font-size: 0;
    cursor: pointer;
    z-index: 1;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: none;
    background: linear-gradient(174.82deg, #7BC0FF 4.38%, #2783FE 96.06%);
    box-shadow: inset 0px 0px 5px rgba(255, 255, 255, 0.25);
}
.reviews_wrapper .slick-arrow::before{
    position: absolute;
    content: "";
    width: 44px;
    background: #2783FE;
    opacity: 0.8;
    filter: blur(35px);
    border-radius: 50%;
    height: 44px;
    right: 50%;
    transform: translateX(50%);
    bottom: -8px;
}
.reviews_wrapper .slick-next{
    right: 20%;
}
.reviews_wrapper .slick-prev{
    left: 20%;
}
.reviews_item-title{
    font-weight: 500;
    line-height: 110%;
    color: #172C48;
    margin-bottom: 16px;
    font-size: 27px;
}
.reviews_item-text{
    font-size: 18px;
    color: #172C48;
    line-height: 150%;
}
.reviews_wrapper .slick-dots{
    position: absolute;
    bottom: 0;
    width: 100%;
    justify-content: center;
    display: flex;
    left: 0;
    padding-left: 175px;
}
.reviews_wrapper .slick-dots::before{
    position: absolute;
    content: "<- ->";
    font-size: 16px;
    line-height: 150%;
    font-family: 'Souvenir', 'Ubuntu', sans-serif;
    color: #9EA3AB;
    white-space: nowrap;
    right: calc(50% + 45px);
    top: 50%;
    transform: translate(50%,-50%);
}

.footer{
    padding: 70px 0 130px;
    background: #172C48;
}
.footer_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
.footer_logo{
    display: flex;
    align-items: center;
}
.footer_logo-title{
    margin-left: 20px;
    font-weight: 500;
    line-height: 130%;
    color: #FFFFFF;
    max-width: 130px;
    font-size: 14px;
}
.footer_menu{
    display: flex;

}
.footer_menu-link{
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    text-decoration-line: underline;
    color: #FFFFFF;
    margin: 0 20px;
}
.footer_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer_messanges{
    display: flex;
}
.footer_messanger{
    display: flex;
    margin-right: 10px;
}
.footer_des{
    font-weight: 500;
    line-height: 130%;
    text-decoration-line: underline;
    color: #8B96A4;
    font-size: 16px;
}

.quiz{
    background: #F3F7FF;
    padding: 40px 0 130px;
}

.quiz_body{
    background: #FFFFFF;
    box-shadow: 0px 100px 80px rgba(152, 93, 1, 0.0281146), 0px 41.7776px 33.4221px rgba(152, 93, 1, 0.0403893), 0px 22.3363px 17.869px rgba(152, 93, 1, 0.05), 0px 12.5216px 10.0172px rgba(152, 93, 1, 0.0596107), 0px 6.6501px 5.32008px rgba(152, 93, 1, 0.0718854), 0px 2.76726px 2.21381px rgba(152, 93, 1, 0.1);
    border-radius: 30px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.quiz_img {
    width: 31%;
    align-self: center;
}
.quiz_inner{
    position: relative;
    z-index: 1;
    max-width: 1040px;
    margin: 0 auto;
}
.quiz_inner::before{
    position: absolute;
    content: "";
    top: 50px;
    right: 20px;
    left: 20px;
    bottom: -10px;
    background: #FFFFFF;
    box-shadow: 0px 100px 80px rgba(152, 93, 1, 0.0281146), 0px 41.7776px 33.4221px rgba(152, 93, 1, 0.0403893), 0px 22.3363px 17.869px rgba(152, 93, 1, 0.05), 0px 12.5216px 10.0172px rgba(152, 93, 1, 0.0596107), 0px 6.6501px 5.32008px rgba(152, 93, 1, 0.0718854), 0px 2.76726px 2.21381px rgba(152, 93, 1, 0.1);
    border-radius: 30px;
    z-index: -1;
}
.quiz_img img{
    width: 100%;
    height: 100%;
}
.quiz_steps{
    width: 69%;
    padding: 25px 55px 60px 0;
}

.quiz_steps.none{
    display: none;
}

.quiz_buy{
    width: 69%;
    padding: 25px 55px 60px 0;
}
.quiz_progress-title{
    line-height: 150%;
    color: #8B96A4;
    text-align: center;
    margin-bottom: 10px;
}
.quiz_progress{
    padding-bottom: 40px;
}
.quiz_progress-bar{
    background: #DAEDFF;
    border-radius: 142px;
    height: 5px;
    position: relative;
}
.quiz_progress-bar span{
    position: absolute;
    left: 0;
    top: -1px;
    height: 7px;
    background: #2783FE;
    border-radius: 142px;
}
.quiz_step-title{
    font-weight: 700;
    line-height: 120%;
    color: #172C48;
    font-size: 27px;
    margin-bottom: 23px;
}
.quiz_step-cheks{
    display: flex;
    /*justify-content: space-between;*/
    margin-bottom: 60px;
}
.quiz_step-item{
    width: 23%;
    cursor: pointer;
    position: relative;
    margin-right: 5%;
}
.quiz_step-span{
    background: #DAEDFF;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: 5px solid #fff;
    display: flex;
    margin: 0 auto;
    box-shadow: 0px 4px 10px rgba(0, 102, 255, 0.25);
    transform: translateY(-60%);
}
.quiz_step-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.quiz_step-inp:checked + .quiz_step-span{
    background: #2783FE;
}

.quiz_step-inp{
    display: none;
}

.quiz_step-cheks_title{
    font-size: 18px;
    text-align: center;
    color: #516176;
    line-height: 130%;
}
.quiz_step-btns{
    display: flex;
    justify-content: space-between;
}
.quiz_step-prev{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 70px;
    width: 48%;
    box-shadow: inset 0px 1px 5px rgba(255, 255, 255, 0.25);
    border-radius: 113px;
    border: 1px solid #89BFFF;
    font-size: 20px;
    color: #2783FE;
    line-height: 130%;
    background-color: white;
}
.quiz_step-next{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 70px;
    width: 48%;
    background: linear-gradient(174.82deg, #7BC0FF 4.38%, #2783FE 96.06%);
    border-radius: 113px;
    border: 1px solid #89BFFF;
    font-size: 20px;
    color: #fff;
    line-height: 130%;
}
.quiz_step-end{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 70px;
    width: 48%;
    background: linear-gradient(174.82deg, #7BC0FF 4.38%, #2783FE 96.06%);
    border-radius: 113px;
    border: 1px solid #89BFFF;
    font-size: 20px;
    color: #fff;
    line-height: 130%;
}

/*.quiz_step{*/
/*    display: none;*/
/*}*/

.quiz_step.active{
    display: block;
}
.quiz_step-cities{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;

}
.quiz_step-city{
    cursor: pointer;
    position: relative;
    padding-left: 50px;
    background: #DAEDFF;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 150%;
    color: #516176;
    width: 224px;
    height: 36px;
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.quiz_step-city .quiz_step-span{
    left: 20px;
    top: 8px;
    right: auto;
    bottom: auto;
    transform: none;
    position: absolute;
}
.quiz_step-cheks_price{
    font-weight: 700;
    line-height: 130%;
    text-align: center;
    color: #2783FE;
    font-size: 18px;
}
.quiz_type-link{
    position: absolute;
    width: 25px;
    background: #172C48;
    height: 25px;
    border-radius: 50%;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #FFFFFF;
    line-height: 130%;
}
.quiz_type-supp{
    max-width: 790px;
    background: #FFFFFF;
    border-radius: 30px;
    padding: 40px;
}
.quiz_type-wrapper{
    display: flex;
    justify-content: space-between;
}
.quiz_type-img{
    width: 43%;
}
.quiz_type-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.quiz_type-info{
    width: 51%;
}
.quiz_type-tiitle{
    font-weight: 700;
    line-height: 120%;
    color: #172C48;
    font-size: 27px;
    margin-bottom: 13px;
}
.quiz_type-text{
    font-size: 18px;
    line-height: 130%;
    color: #516176;
}
.quiz_step-desc{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.quiz_step-area{
    resize: none;
    width: 79%;
    padding: 15px 20px;
    background: #DAEDFF;
    border-radius: 10px;
    border: 1px solid #2783FE;
}
.quiz_step-files{
    width: 18%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.quiz_step-file_inp{
    display: none;
}
.quiz_step-file{
    cursor: pointer;
    height: 48%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #DAEDFF;
    border-radius: 10px;
    border: 1px solid #2783FE;
    line-height: 130%;
    color: #516176;
    padding: 5px;
}
.quiz_step-symbols{
    font-size: 13px;
    line-height: 150%;
    color: #9EA3AB;
    margin-bottom: 20px;
}
.quiz_step-price{
    font-weight: 700;
    line-height: 150%;
    color: #2783FE;
    margin-bottom: 20px;
    font-size: 18px;
}
.postcard_title{
    font-weight: 700;
    line-height: 120%;
    color: #172C48;
    font-size: 27px;
    margin-bottom: 20px;
    text-align: center;
}
.postcard_items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 35px;
}
.postcard_items .quiz_step-item{
    margin-bottom: 25px;
}
.postcard_btn{
    cursor: pointer;
    width: 311px;
    background: linear-gradient(174.82deg, #7BC0FF 4.38%, #2783FE 96.06%);
    border-radius: 113px;
    margin: 0 auto;
    height: 70px;
    display: flex;
    justify-content: center;
    font-weight: 700;
    line-height: 130%;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    font-size: 20px;
}
.fancybox-slide--html .fancybox-close-small{
    top: 20px;
    right: 20px;
}
.quiz_step-dop::-webkit-scrollbar {
    width: 5px;
    background-color: #DAEDFF;
    border-radius: 142px;
}

.quiz_step-dop::-webkit-scrollbar-thumb {

    background: #F48534;
    border-radius: 142px;
}
.step-dop_item{
    position: relative;
}
.quiz_step-dop{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-height: 425px;
    overflow-y: auto;
    padding-right: 23px;
    margin-bottom: 40px;
}
.step-dop_item{
    width: 23%;
    background: #DAEDFF;
    border-radius: 10px;
    margin-bottom: 20px;
}
.step-dop-img{
    width: 100%;
    margin-bottom: 5px;
}
.step-dop-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.step-dop_title{
    line-height: 100%;
    text-align: center;
    color: #516176;
    min-height: 32px;
    margin-bottom: 5px;
    padding: 0 7px;
}
.step-dop_price{
    text-align: center;
    font-weight: 700;
    line-height: 100%;
    text-align: center;
    color: #2783FE;
    font-size: 18px;
    margin-bottom: 14px;
}
.popup_btn{
    cursor: pointer;
}
.popup_btn2{
    cursor: pointer;
}

/*.quiz_step:first-child .quiz_step-prev{*/
/*    opacity: 0;*/
/*    cursor: default;*/
/*}*/

.step-dop_count{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px 10px;
    border: 1px solid #B6D8FF;
    border-radius: 50px;
    padding: 8px 18px;
    color: #516176;
    font-weight: 700;
}
.step-dop_count input{
   width: 40%;
   text-align: center;
   border: none;
   background: none;
}
.plus,
.minus{
    cursor: pointer;
    user-select: none;
    font-size: 20px;
}
.quiz_inner.none{
    display: none;
}

/*.quiz_cart{*/
/*    display: none;*/
/*}*/

/*.quiz_cart.active{*/
/*    display: block;*/
/*}*/

.quiz_cart-adres{
    font-size: 18px;
    color: #516176;
    line-height: 120%;
    margin-bottom: 40px;
}
.quiz_cart-media{
    display: flex;
    align-items: flex-start;
    margin-bottom: 50px;
}
.quiz_cart-postcard{
    width: 180px;
    margin-right: 30px;
}
.quiz_cart-postcard img{
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}
.quiz_cart-postcard span{
    display: block;
    font-size: 18px;
    text-align: center;
    color: #516176;
    line-height: 130%;
    margin-top: 10px;
}
.quiz_cart-area{
    width: 500px;
    margin-right: 30px;
}
.quiz_cart-area .quiz_step-area{
    width: 100%;
    margin-bottom: 10px;
    height: 150px;
}
.quiz_cart-img{
    width: 200px;

    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.quiz_cart-img img{
    width: 100%;
    height: 150px;
    object-fit: cover;
    border: 1px solid #2783FE;
    border-radius: 10px;
}
.quiz_cart-area span,
.quiz_cart-img span{
    display: block;
    font-size: 18px;
    text-align: center;
    color: #516176;
    line-height: 130%;
    margin-top: 10px;
}

.quiz_cart-area span {
    margin-top: -6px;
}

.quiz_cart-subtitle{
    font-size: 25px;
    color: #172C48;
    line-height: 120%;
    margin-bottom: 30px;
}
.quiz_cart-dop_top{
    display: flex;
    padding-bottom: 15px;
    border-bottom: 1px solid #8B96A4;
    width: 100%;
    margin-bottom: 30px;
}
.quiz_cart-dop-title{
    font-weight: 700;
    width: 16%;
    color: #172C48;
}
.quiz_cart-dop_info{
    width: calc(
        100% - 210px
    );
    display: flex;
}
.quiz_cart-dop-title:nth-child(1){
    width: 35%;
}
.quiz_cart-dop_item{
    display: flex;
    align-items: center;
    margin-bottom: 35px;
}
.quiz_cart-dop_img{
    position: relative;
    margin-right: 30px;
    width: 180px;
    height: 180px;
}
.quiz_cart-dop_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.quiz_cart-dop_name{
    width: 120px;
    margin-right: 90px;
    line-height: 130%;
    color: #172C48;
}
.quiz_cart-dop_count{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px 10px;
    border: 1px solid #B6D8FF;
    border-radius: 50px;
    padding: 8px 18px;
    color: #516176;
    font-weight: 700;
    width: 125px;
    margin-right: 70px;
}
.quiz_cart-dop_count input{
    width: 40%;
   text-align: center;
   border: none;
   background: none;
}
.quiz_cart-dop_price{
    width: 21%;
    font-size: 18px;
    color: #172C48;
}
.quiz_cart-dop_total{
    font-weight: 700;
    color: #2783FE;
    font-size: 18px;
    width: 20%;
}
.quiz_cart-dop_items{
    padding-right: 24px;
    overflow: auto;
    max-height: 425px;
    margin-bottom: 25px;
}
.quiz_cart-dop_items::-webkit-scrollbar {
    width: 5px;
    background-color: #DAEDFF;
    border-radius: 142px;
}

.quiz_cart-dop_items::-webkit-scrollbar-thumb {

    background: #F48534;
    border-radius: 142px;
}
.quiz_cart-dop_delete{
    background-image: url(../img/delette.svg);
    background-size: cover;
    width: 14px;
    height: 14px;
    cursor: pointer;
}
.quiz_cart-dop_add{
    background: #F48534;
    opacity: 0.5;
    border-radius: 10px;
    width: 180px;
    height: 180px;
    margin-right: 30px;
    position: relative;
    cursor: pointer;
}
.quiz_cart-dop_add::before{
    position: absolute;
    content: "";
    width: 40px;
    height: 6px;
    background-color: #fff;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
}
.quiz_cart-dop_add::after{
    position: absolute;
    content: "";
    width: 6px;
    height: 40px;
    background-color: #fff;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
}
.quiz_cart-dop_body{
    padding-bottom: 40px;
    border-bottom: 1px solid #8B96A4;
}
.quiz_cart-dop{
    margin-bottom: 50px;
}

.quiz_cart-promo{
    display: flex;
    align-items: flex-start;
    padding-bottom: 50px;
    border-bottom: 1px solid #8B96A4;
    margin-bottom: 50px;
}
.cart_promo-form{
    display: flex;
    width: 40%;
    margin-right: 175px;
    background: #2783FE;
    border-radius: 10px;
}
.quiz_cart-promo .form_inp-wrapper{
    width: 310px;
    margin-bottom: 0;
}
.quiz_cart-promo .form_inp{
    background: #F3F7FF;
}
.quiz_cart-promo .form_inp-wrapper span{
    border: 6px solid #F3F7FF;
    background-color: #F3F7FF;
}
.cart_promo-btn{
    height: 70px;
    width: 180px;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    line-height: 130%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart_promo-info{
    text-align: right;
}
.cart_promo-price{
    font-size: 18px;
    color: #8591A4;
    line-height: 150%;
    margin-bottom: 40px;
}
.cart_promo-price span{
    display: inline-block;
    margin-left: 36px;
}
.cart_promo-sale{
    font-size: 18px;
    color: #8591A4;
    line-height: 150%;
    margin-bottom: 40px;
}
.cart_promo-sale span{
    display: inline-block;
    margin-left: 36px;
}
.cart_promo-total{
    font-size: 18px;
    color: #2783FE;
    line-height: 150%;
    font-weight: 700;
}
.cart_promo-total span{
    display: inline-block;
    margin-left: 36px;
}
.step-dispatch_title{
    font-size: 25px;
    color: #172C48;
    line-height: 120%;
    margin-bottom: 20px;
}
.step-dispatch_inps{
    display: flex;
}
.step-dispatch_inps .form_inp-wrapper{
    width: 311px;
    margin-right: 20px;
}
.step-dispatch_inps .form_inp{
    background: #F3F7FF;
}
.step-dispatch_inps .form_inp-wrapper span{
    border: 6px solid #F3F7FF;
    background-color: #F3F7FF;
}
.step-dispatch_item{
    margin-bottom: 30px;
}
.step-dispatch_btns{
    display: flex;
    margin-top: 70px;
}
.quiz_step-quiz{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 70px;
    width: 311px;
    box-shadow: inset 0px 1px 5px rgba(255, 255, 255, 0.25);
    border-radius: 113px;
    border: 1px solid #89BFFF;
    font-size: 20px;
    color: #2783FE;
    line-height: 130%;
    margin-right: 20px;
    background: #F3F7FF;
}
.quiz_step-buy{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 70px;
    width: 311px;
    background: linear-gradient(174.82deg, #7BC0FF 4.38%, #2783FE 96.06%);
    border-radius: 113px;
    border: 1px solid #89BFFF;
    font-size: 20px;
    color: #fff;
    line-height: 130%;
}
/*.quiz_buy{*/
/*    display: none;*/
/*}*/
/*.quiz_buy.active{*/
/*    display: block;*/
/*}*/
.quiz_buy-title{
    font-weight: 700;
    line-height: 120%;
    color: #172C48;
    font-size: 27px;
    margin-bottom: 30px;
}
.quiz_buy-info{
    display: flex;
    margin-bottom: 40px;
}
.quiz_buy-id{
    font-size: 25px;
    line-height: 120%;
    color: #172C48;
    margin-right: 30px;
}
.quiz_buy-id span{
    color: #2783FE;
    font-weight: 700;
}
.quiz_buy-price{
    font-size: 25px;
    line-height: 120%;
    color: #172C48;
}
.quiz_buy-price span{
    color: #2783FE;
    font-weight: 700;
}
.quiz_buy-subtitle{
    font-weight: 700;
    margin-bottom: 20px;
    color: #172C48;
}
.quiz_step-ways{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 100px;
}
.quiz_step-way{
    cursor: pointer;
    position: relative;
    padding-left: 50px;
    background: #DAEDFF;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 150%;
    color: #516176;
    width: 48%;
    height: 60px;
    display: flex;
    align-items: center;
}
.quiz_step-way .quiz_step-span{
    left: 20px;
    top: 20px;
    right: auto;
    bottom: auto;
    transform: none;
    position: absolute;
}
.step-buy_btn{
    display: flex;
    justify-content: space-between;
}

.step-buy_btn a:hover {
    color: white;
    text-decoration: none;
}

.quiz_buy .quiz_step-end{
    background: none;
    color: #2783FE;
}
.quiz_step-pay{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 70px;
    width: 311px;
    background: linear-gradient(174.82deg, #7BC0FF 4.38%, #2783FE 96.06%);
    border-radius: 113px;
    border: 1px solid #89BFFF;
    font-size: 20px;
    color: #fff;
    line-height: 130%;
}
.thanks{
    background: #F3F7FF;
    padding: 40px 0 130px;
}

.thanks_body{
    background: #FFFFFF;
    box-shadow: 0px 100px 80px rgba(152, 93, 1, 0.0281146), 0px 41.7776px 33.4221px rgba(152, 93, 1, 0.0403893), 0px 22.3363px 17.869px rgba(152, 93, 1, 0.05), 0px 12.5216px 10.0172px rgba(152, 93, 1, 0.0596107), 0px 6.6501px 5.32008px rgba(152, 93, 1, 0.0718854), 0px 2.76726px 2.21381px rgba(152, 93, 1, 0.1);
    border-radius: 30px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.thanks_inner{
    position: relative;
    z-index: 1;
    max-width: 1040px;
    margin: 0 auto;
}
.thanks_inner::before{
    position: absolute;
    content: "";
    top: 50px;
    right: 20px;
    left: 20px;
    bottom: -10px;
    background: #FFFFFF;
    box-shadow: 0px 100px 80px rgba(152, 93, 1, 0.0281146), 0px 41.7776px 33.4221px rgba(152, 93, 1, 0.0403893), 0px 22.3363px 17.869px rgba(152, 93, 1, 0.05), 0px 12.5216px 10.0172px rgba(152, 93, 1, 0.0596107), 0px 6.6501px 5.32008px rgba(152, 93, 1, 0.0718854), 0px 2.76726px 2.21381px rgba(152, 93, 1, 0.1);
    border-radius: 30px;
    z-index: -1;
}
.thanks_img img{
    width: 100%;
    height: 100%;
}
.thanks_info{
    padding: 60px 0 60px 100px;
}
.thanks_info-title{
    font-weight: 700;
    font-size: 50px;
    line-height: 130%;
    background: linear-gradient(95.89deg, #7BC0FF -9.88%, #2783FE 82.48%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 30px;
}
.thanks_info-text{
    font-size: 25px;
    line-height: 130%;
    color: #172C48;
    margin-bottom: 50px;
}
.thanks_info-btn{
    text-align: center;
    padding-right: 0;
}
.thanks_error .thanks_info{
    padding-bottom: 155px;
}
.thanks_error .thanks_body{
    background-image: url(../img/error_bg.jpg);
    background-size: cover;
    background-position: center;
}
.menu_burger{
    display: none;
}
.mobile{
    display: none;
}
.how_item:last-child .how_item-bef{
    display: none;
}
.video_popup{
    padding: 25px;
    width: 800px;
    height: 550px;
    overflow: visible;
    background: none;
}
.video_popup .fancybox-close-small{
    top: -20px;
    right: -20px;
}
.video_popup .fancybox-close-small path{
    fill: #fff;
}
.video_popup iframe{
    width: 100%;
    height: 99%;
}

.individual-error {
    padding: 5px;
}


@media(max-width:1600px){
    .motives_slider{
        margin-left: 150px;
    }
    .form_woman{
        right: 6%;
    }
}
@media(max-width:1250px){
    .thanks_inner{
        margin: 0 15px;
    }
    .how_items{
        justify-content: space-around;
    }
    .how_item {
        width: 28%;
        padding-top: 275px;
    }
    .how_item:nth-child(1) img{
        width: 250px;
    }
    .how_item:nth-child(2) img{
        width: 230px;
    }
    .how_item:nth-child(3) img{
        width: 430px;
    }
    .how_item-img{
        left: -25px;
    }
    .how_item:last-child .how_item-img {
        top: -110px;
    }
    .how_item-bef {
        right: 0px;
        top: 135px;
    }
    .how_wrapper-img{
        width: 65%;
    }
    .how_wrapper-img img{
        width: 100%;
        height: 100%;
    }
    .motives_slider{
        margin-left: 15px;
    }
    .motives_item{
        margin-right: 15px;
    }
    .we_block-item{
        width: 32%;
    }
    .we_block-item:nth-child(3):after{
        display: none;
    }
    .we_block-wrapper{
        justify-content: space-around;
    }
    .we_block-item:nth-child(1):after, .we_block-item:nth-child(2):after, .we_block-item:nth-child(3):after{
        right: -22px;
    }
    .we_block::after{
        bottom: -122px;
    }
    .gallery_content{
        height: 320px;
    }
    .gallery_tab{
        height: 100px;
    }
    .form_wrapper{
        flex-direction: column-reverse;
        align-items: center;
    }
    .form_text{
        width: 80%;
        margin-bottom: 450px;
    }
    .form_inner{
        width: 60%;
    }
    .form_woman {
        bottom: auto;
        top: 101px;
        right: 13%;
    }
    .form {
        padding: 200px 0 225px;
    }
    .form_btn{
        margin: 0 auto 30px;
    }
    .form_ok{
        justify-content: center;
    }
    .reviews_wrapper .slick-list{
        padding: 0 10% 100px;
    }
    .reviews_item{
        margin: 0 45px;
    }
    .reviews_wrapper .slick-next{
        right: 8%;
    }
    .reviews_wrapper .slick-prev {
        left: 8%;
    }
    .footer_menu-link{
        margin: 0 10px;
    }
    .quiz_inner{
        padding: 0 15px;
    }
    .quiz_cart-dop_name{
        margin-right: 20px;
    }


}
@media(max-width:991px){
    .header{
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 5;
        background-color: #FFF;
    }
    .menu{
        position: fixed;
        width: 100%;
        right: -100%;
        transition: all 0.6s;
        background-color: #fff;
        height: 100%;
        top: 83px;
        flex-direction: column;
        align-items: center ;
        padding-top: 60px;
    }
    .header.active  .menu{
        right: 0;
    }
    .menu_link{
        font-size: 24px;
        margin-bottom: 25px;
        display: block;
        margin-right: 0;
    }
    .main{
        margin-top: 83px;
        padding-bottom: 150px;
    }
    .main_title{
        font-size: 20px;
    }
    .main_item{
        font-size: 18px;
    }
    .main::before {
        height: 191px;
        bottom: -65px;
    }
    .menu_burger{
        display: block;
        width: 36px;
        height: 22px;
        right: 15px;
        position: fixed;
        top: 31px;
        z-index: 9;
    }
    .menu_burger::before{
        position: absolute;
        content: "";
        width: 100%;
        height: 3px;
        background: #172C48;
        border-radius: 20px;
        left: 0;
        top: 0;
        transition: all 0.3s;
    }
    .menu_burger::after{
        position: absolute;
        content: "";
        width: 100%;
        height: 3px;
        background: #172C48;
        border-radius: 20px;
        left: 0;
        bottom: 0;
        transition: all 0.3s;
    }
    .menu_burger span{
        position: absolute;
        content: "";
        width: 100%;
        height: 3px;
        background: #172C48;
        border-radius: 20px;
        top: 50%;
        transform: translateY(-50%);
        bottom: 0;
        transition: all 0.3s;
    }
    .menu_burger.active::before{
        top: 9px;
        transform: rotate(45deg);
    }
    .menu_burger.active::after{
        bottom:10px;
        transform: rotate(-45deg);
    }
    .menu_burger.active span{
        transform: translateY(-50%) scale(0);
    }
    .header_lang{
        margin-right: 50px;
    }
    .main_btn{
        margin-right: 0;
    }
    .main_wrapper{
        justify-content: space-between;
    }
    .how_items{
        flex-direction: column;
        align-items: center;
        margin-bottom: 0;
    }
    .how_item{
        width: 40%;
        margin-bottom: 150px;
    }
    .how_item-bef{
        transform: rotate(90deg) translateX(50%);
        top: auto;
        right: 50%;
        bottom: -80px;
    }
    .how_item-img{
        transform:translateX(50%);
        left: auto;
        right: 50%;
    }
    .how_item:nth-child(2) .how_item-img{
        right: 58%;
    }
    .how_item:last-child{
        margin-top: 60px;
    }
    .how_item:last-child .how_item-bef{
        display: block;
    }
    .how_item-number{
        display: none;
    }
    .how_wrapper{
        flex-direction: column;
        align-items: center;
    }
    .how_wrapper-btn{
        margin: 0 auto;
    }
    .how{
        padding-bottom: 140px;
        z-index: 2;
    }
    .motives{
        background: linear-gradient(180deg, #F3DACB 0%, #FDC27F 100%);
        position: relative;
        z-index: 1;
    }
    .motives::before{
        position: absolute;
        content: "";
        background-image: url(../img/motives_bef.png);
        background-size: cover;
        width: 100%;
        height: 800px;
        z-index: -1;
        left: 0;
        top: 200px;
    }
    .we_block::before{
        display: none;
    }
    .we_block{
        background: linear-gradient(180deg, #FDC27F 0%, #FFBC6E 100%);
    }
    .motives_slider .slick-next::after{
        color: #172C48;
    }
    .slick-dots-separator, .slick-dots-total{
        color: #172C48;
    }
    .we_block-item:nth-child(1):after, .we_block-item:nth-child(2):after, .we_block-item:nth-child(3):after{
        display: none;
    }
    .we_block .container{
        padding: 0;
    }
    .we_block .slick-track{
        padding-bottom: 115px;
        display: flex;
    }
    .we_block-item{
        height: inherit;
        margin-right: 15px;
    }
    .we_block-wrapper .slick-arrow{
        position: absolute;
        bottom: 0;
        font-size: 0;
        cursor: pointer;
        z-index: 1;
        width: 56px;
        height: 56px;
        border-radius: 50%;
        border: none;
        background: linear-gradient(174.82deg, #7BC0FF 4.38%, #2783FE 96.06%);
        box-shadow: inset 0px 0px 5px rgba(255, 255, 255, 0.25);
    }
    .we_block-wrapper .slick-arrow::before{
        position: absolute;
        content: "";
        width: 44px;
        background: #2783FE;
        opacity: 0.8;
        filter: blur(35px);
        border-radius: 50%;
        height: 44px;
        right: 50%;
        transform: translateX(50%);
        bottom: -8px;
    }
    .we_block-wrapper .slick-next{
        left: 65px;
    }
    .we_block-wrapper .slick-next::after{
        position: absolute;
        content: "<- ->";
        font-size: 16px;
        line-height: 150%;
        font-family: 'Souvenir', 'Ubuntu', sans-serif;
        color: #9EA3AB;
        white-space: nowrap;
        right: -175px;
        top: 50%;
        transform: translateY(-50%);
    }
    .we_block-wrapper .slick-prev{
        left: 0;
    }
    .we_block-wrapper{
        margin-left: 15px;
    }
    .we_block-item_img {
        position: absolute;
        top: 33%!important;
        right: 50%!important;
        transform: translate(50%,-50%);
        left: auto !important;
    }
    .we_block{
        padding-bottom: 200px;
    }
    .we_block::after {
        bottom: -181px;
        transform: rotate(
    -8deg
    );
    }
    .gallery_img1{
        right: 0;
    }
    .gallery_inner{
        flex-direction: column;
        align-items: center;
        z-index: 1;
        position: relative;
    }
    .gallery_video{
        width: 80%;
        margin-bottom: 25px;
    }
    .form_text{
        width: 100%;
    }
    .form_woman{
        width: 600px;
        top:200px;
    }
    .form_woman img{
        width: 100%;
        height: 100%;
    }
    .form::before{
        bottom: -15px;
    }
    .reviews_wrapper .slick-list{
        padding: 0 50px 100px;
    }
    .reviews_wrapper .slick-next {
        right: 25px;
    }
    .reviews_wrapper .slick-prev {
        left: 25px;
    }
    .reviews_item-img,
    .reviews_item.slick-active .reviews_item-img{
        width: 200px;
        position: absolute;
    }
    .reviews_item-wrapper,
    .reviews_item.slick-active .reviews_item-wrapper{
        position: relative;
        padding: 30px;
    }
    .reviews_item-img,
    .reviews_item.slick-active .reviews_item-img{
        top: 25px;
        left: 25px;
    }
    .reviews_item-title{
        margin-left: 240px;
        height: 200px;
        display: flex;
        align-items: center;
        margin-bottom: 0;
    }
    .reviews_item-info,
    .reviews_item.slick-active .reviews_item-info{
        width: 100%;
    }
    .footer_wrapper{
        flex-direction: column;
    }
    .footer_inner{
        display: fles;
    }
    .footer_logo{
        margin-bottom: 25px;
    }
    .footer_menu{
        flex-direction: column;
        text-align: center;
        align-items: center;
        margin-bottom: 25px;
    }
    .footer_menu-link{
        display: block;
        margin: 0 0 30px;
    }
    .quiz{
        margin-top: 83px;
    }
    .quiz_img{
        display: none;
    }
    .quiz_buy,
    .quiz_steps{
        width: 100%;
        padding: 25px 55px 60px;
    }
    .cart_promo-form{
        width: 50%;
        margin-right: 10%;
    }
    .quiz_step-pay{
        width: 48%;
    }
.quiz_type-supp
    .quiz_step-item{
        width: 48%;
    }
    .quiz_cart-dop_name{
        margin-right: 20px;
    }
    .quiz_cart-dop_count{
        margin-right: 20px;
    }
    .quiz_cart-dop_price {
        display: none;
    }
    .quiz_cart-dop_top{
        display: none;
    }
    .quiz_cart-dop_info{
        justify-content: space-between;
        align-items: center;
    }
    .quiz_cart-dop_item .quiz_cart-dop_count{
        margin-bottom: 0;
    }
    .thanks_info {
        padding: 35px 0 35px 50px;
    }
    .thanks{
        margin-top: 83px;
    }
    .video_popup{
        width: 100%;
    }
    .video_popup .fancybox-close-small{
        right: 0;
    }
}
@media(max-width:700px){
    .main_title{
        width: 80%;
    }
    .main_wrapper{
        flex-direction: column;
        align-items: flex-start;
    }
    .main_btn {
        margin-bottom: 35px;
    }
    .main_video{
        margin-left: 20px;
    }
    .how_item{
        width: 60%;
    }
    .motives::before{
        height: 650px;
    }
    .gallery_wrapper .slick-list{
        padding-right: 35%;
    }
    .gallery_inner{
        display: block;
        padding-bottom: 110px;
        margin-bottom: 0;
    }
    .form_inner{
        width: 100%;
    }
    .form_text::before{
        bottom: auto;
        left: auto;
        right: 65px;
        top: -160px;
    }
    .form_text{
        padding: 80px 30px 30px;
    }
    .form_woman {
        width: 528px;
        top: 327px;
        right: 0;
    }
    .faq_img{
        display: none;
    }
    .reviews_wrapper .slick-list{
        padding: 0 0 100px;
    }
    .reviews_item{
        margin: 0 15px;
    }

    /*.quiz_step-cheks{*/
    /*    flex-wrap: wrap;*/
    /*}*/

        .quiz_step-item{
        width: 48%;
        margin-bottom: 20px;
    }
    .quiz_steps{
        padding: 20px 30px 40px;
    }

    .quiz_step-city{
        width: 100%;
        margin-right: 0;
    }
    .quiz_type-wrapper{
        flex-direction: column;
    }
    .quiz_type-img{
        width: 100%;
        margin-bottom: 15px;
    }
    .quiz_type-info{
        width: 100%;
    }
    .fancybox-slide--html .fancybox-close-small{

        background: #172C48;
        border-radius: 50%;
    }
    .fancybox-slide--html .fancybox-close-small path{
        fill: #fff;
    }
    .step-dop_item{
        width: 48%;
    }
    .quiz_cart-media{
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .quiz_cart-area{
        order: 1;
        width: 100%;
        margin-top: 20px;
        margin-right: 0;
    }
    .quiz_cart-img{
        width: 48%;
    }
    .quiz_cart-postcard{
        width: 48%;
        margin-right: 0;
    }
    .quiz_cart-dop_price{
        display: none;
    }
    .quiz_cart-dop_info{
        flex-direction: column;
        align-items: flex-start;
    }
 .quiz_cart-dop_item{
        position: relative;
    }
    .quiz_cart-dop_delete{
        right: 10px;
        top: 10px;
        position: absolute;
    }
    .quiz_cart-dop_name{
        margin-right: 0;
        margin-bottom: 20px;
    }
    .quiz_cart-dop_item .quiz_cart-dop_count{
        margin-bottom: 20px;
    }
    .quiz_cart-promo{
        flex-direction: column;
    }
    .cart_promo-form{
        width: 100%;
        margin-right: 0;
        margin-bottom: 25px;
    }
    .cart_promo-info{
        width: 100%;
        text-align: left;
    }
    .cart_promo-total,
    .cart_promo-sale,
    .cart_promo-price{
        display: flex;
        width: 60%;
        justify-content: space-between;
    }
    .cart_promo-total span,
    .cart_promo-sale span,
    .cart_promo-price span{
        min-width: 45px;
    }
    .step-dispatch_inps{
        flex-direction: column;
    }
    .step-dispatch_inps .form_inp-wrapper{
        width: 100%;
        margin-right: 0;
        margin-bottom: 35px;
    }
    .quiz_step-way{
        width: 100%;
    }
    .quiz_step-ways{
        margin-bottom: 50px;
    }
    .step-buy_btn{
        flex-direction: column-reverse;
    }
    .quiz_step-pay{
        width: 100%;
        margin-bottom: 20px;
    }
    .quiz_buy .quiz_step-end{
        width: 100%;
    }
    .thanks_info{
        width: 100%;
        position: relative;
        z-index: 1;
        padding: 25px;
    }
    .thanks_body{
        position: relative;
    }
    .thanks_img{
        position: absolute;
        right: 50%;
        transform: translateX(50%);
        width: 324px;
        bottom: 100px;
    }
    .thanks_img img{
        width: 100%;
        height: 100%;
    }
    .thanks_info-text{
        margin-bottom: 400px;
    }
    .thanks_info-btn{
        margin: 0 auto;
    }
    .thanks_error .thanks_info{
        padding-bottom: 25px;
    }
    .thanks_error .thanks_body {
        background: none;
        position: relative;
    }
    .thanks_error .thanks_body::before{
        position: absolute;
        content: "";
        background-image: url(../img/error_bg-mobile.jpg);
        background-size: cover;
        background-position: center 200px;
        width: 100%;
        right: 0;
        bottom: 0;
        height: 100%;
    }
    .video_popup{
        height: 400px;
    }

}
@media(max-width:500px){
    .thanks_error .thanks_body::before{
        background-position: center 130px;
    }
    .thanks.thanks_error{
        padding-bottom: 0;
    }
    .thanks_error .thanks_body{
        padding-bottom: 100px;
    }
    .header_logo{
        width: 62px;
    }
    .thanks_inner{
        margin: 0;
    }
    .header_logo img{
        width: 100%;
        height: 100%;
    }
    .header_wrapper{
        padding: 13px 0;
    }
    .main{
        margin-top: 53px;
        padding-top: 16px;
        padding-bottom: 0;
        background-image: url(../img/main_mobil.jpg);
        background-size: auto 95%;
        background-position: top center;
        background-repeat: no-repeat;
    }
    .thanks_body{
        border-radius: 0;
    }
    .menu_burger{
        width: 25px;
        height: 16px;
        top: 18px;
    }
    .menu{
        top: 53px;

    }
    .menu_burger.active::after {
        bottom: 6px;
    }
    .menu_burger.active::before {
        top: 7px;
    }
    .main_title{
        font-size: 20px;
        line-height: 120%;
        margin-bottom: 20px;
        display: none;
    }
    .mobile{
        display: block;
    }
    .main_item{
        font-size: 18px;
        line-height: 200%;
    }
    .main_items{
        margin-bottom: 300px;
    }
    .main::before{
        display: none;
    }
    .main_btn {
        margin: 0 auto 35px;
    }
    .main_video{
        margin: 0 auto;
    }
    .how{
        padding-top: 60px;
        padding-bottom: 30px;
    }
    .how_title{
        font-size: 30px;
        line-height: 120%;
        margin-bottom: 30px;
    }
    .how_item{
        width: 100%;
        padding-top: 335px;
    }
    .how_item:nth-child(1) img {
        width: 300px;
    }
    .how_item-title{
        font-size: 22px;
        line-height: 120%
    }
    .how_item-title br{
        display: none;
    }
    .how_item-text br{
        display: none;
    }
    .how_item-text{
        font-size: 18px;
        line-height: 150%;
    }
    .how_item:nth-child(2) img{
        width: 280px;
    }
    .how_item:last-child{
        margin-top: 0;
    }
    .how_item:last-child .how_item-img {
        top: -60px;
    }
    .how_wrapper-img{
        margin-right: 0;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .how_wrapper-title{
        font-size: 22px;
        line-height: 120%;
    }
    .how_wrapper-text{
        font-size: 18px;
        line-height: 150%;
    }
    .motives_title{
        font-size: 30px;
        line-height: 120%;
        margin-bottom: 320px;
    }
    .motives::before{
        height: 500px;
    }
    .motives_item-img{
        height: 155px;
    }
    .motives_item-title{
        padding-left: 10px;
    }
    .motives_item-text{
        padding-left: 10px;
    }
    .how::before {
        bottom: -190px;
    }
    .slick-dots{
        left: auto;
        padding-left: 140px;
        right: 50%;
        transform: translateX(50%);
        display: flex;
        justify-content: center;
        width: fit-content;
        padding-right: 60px;
        bottom: 40px;
    }
    .slick-dots::before{
        position: absolute;
        content: "<- ->";
        color: #172C48;
        font-size: 16px;
        line-height: 150%;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }
    .slick-dots::after{
        position: absolute;
        content: "";
        color: #172C48;
        right: 0;
        background-image: url(../img/swip_icon.svg);
        width: 32px;
        height: 36px;
        background-size: cover;
        top: 50%;
        transform: translateY(-50%);
    }
    .motives_item{
        opacity: 1;
    }
    .we_block .slick-track {
        padding-bottom: 85px;
    }
    .we_block{
        padding: 30px 0 200px;
    }
    .we_block-title{
        font-size: 30px;
        margin-bottom: 50px;
        line-height: 120%;
    }
    .we_block-info {
        padding: 263px 20px 25px 20px;
    }
    .we_block::after{
        left: 0;
        right: auto;
    }
    .gallery_content{
        height: 207px;
        margin-bottom: 10px;
    }
    .gallery_item{
        margin: 0 10px;
    }
    .gallery_tab{
        height: 65px;
    }
    .gallery_tabs{
        margin-bottom: 10px;
    }
    .gallery_item-title{
        font-size: 13px;
        line-height: 110%;
    }
    .gallery_wrapper{
        padding-bottom: 100px;
        margin-bottom: 0;
    }
    .gallery_img1{
        width: 100%;
        top: -5px;
        right: -75px;
    }
    .gallery_img1 img{
        width: 100%;
        height: 100%;

    }
    .gallery_title{
        font-size: 30px;
        line-height: 120%;
        margin-bottom: 50px;
    }
    .gallery_img{
        width: 100%;
        bottom: auto;
        top: 30%;
    }
    .gallery_img img{
        width: 100%;
        height: 100%;

    }
    .gallery_img2{
        width: 70%;
        bottom: auto;
        top: -20px;
        left: 25px;
        z-index: -1;
    }
    .gallery_img2 img{
        width: 100%;
        height: 100%;
    }
    .form_text{
        padding: 35px 20px;
        font-size: 18px;
            line-height: 130%;
    }
    .form .container{
        padding: 0;
    }
    .form_text::before{
        right: 16px;
        top: -101px;
        z-index: -1;
    }
    .form_text-inner{
        background-color: #fff;
    }
    .form_text-img{
        width: 100px;
        height: 100px;
        left: 7px;
        top: -43px;
    }
    .form_text-img img{
        width: 100%;
        height: 100%;
    }
    .form {
        background-position: center -100px;
        padding-bottom: 0;
    }
    .form_text::after{
        width: 55px;
        height: 55px;
    }
    .form_woman{
        top: 250px;
    }
    .form_inner-info{
        padding: 30px 25px;
    }
    .faq{
        padding-top: 110px;
        padding-bottom: 100px;
    }
    .faq_title{
        font-size: 30px;
        line-height: 120%;
        margin-bottom: 50px;
    }
    .faq .container{
        padding: 0;
    }
    .faq_item-title{
        padding: 35px 75px 35px 20px;
        font-size: 16px;
    }
    .faq_content{
        padding: 20px 20px 25px;
        font-size: 16px;
        line-height: 150%;
    }
    .reviews_wrapper .slick-dots{
        right: 50%;left: auto;
        width: fit-content;
        padding-left: 140px;
    }
    .reviews_wrapper .slick-dots::before{
        left: 0;
        right: auto;
        transform: translateY(-50%);
    }
    .reviews_title{
        font-size: 30px;
        line-height: 120%;
        margin-bottom: 50px;
    }
    .reviews_item-img, .reviews_item.slick-active .reviews_item-img{
        width: 102px;
        top: 20px;
        left: 20px;
    }
    .reviews_item-title{
        margin-left: 123px;
        height: 110px;
        font-size: 16px;
        line-height: 110%;
        margin-bottom: 20px;
    }
    .reviews_item-wrapper, .reviews_item.slick-active .reviews_item-wrapper{
        padding: 20px;
    }
    .reviews_item-text{
        font-size: 16px;
        line-height: 150%;
    }
    .reviews{
        padding-bottom: 95px;
    }
    .footer{
        padding: 35px 0 80px;
    }
    .header_lang{
        margin-right: calc(50% - 57px);
    }
    .quiz{
        margin-top: 53px;
        background-color: #fff;
        padding-bottom: 100px;
    }
    .quiz_body{
        box-shadow: none;
    }
    .quiz_inner::before{
        display: none;
    }
    .quiz_steps{
        padding: 0;
    }
    .quiz_progress-bar{
        width: 93px;
        height: 93px;
        border-radius: 50%;
        position: relative;
        overflow: hidden;
        background-color: #fff;
    }
    .quiz_progress-bar span{
        width: 100%!important;
        height: 100%;
        background-color: #fff;
    }
    .quiz_progress-bar span::before{
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        background-size: cover;
    }
    .quiz_step:nth-child(1) span::before{
        background-image: url(../img/progress1.svg);
    }
    .quiz_step:nth-child(2) span::before{
        background-image: url(../img/progress2.svg);
    }
    .quiz_step:nth-child(3) span::before{
        background-image: url(../img/progress3.svg);
    }
    .quiz_step:nth-child(4) span::before{
        background-image: url(../img/progress4.svg);
    }
    .quiz_step:nth-child(5) span::before{
        background-image: url(../img/progress5.svg);
    }
    .quiz_progress-title{
        position: absolute;
        z-index: 1;
        top: 50%;
        right: 50%;
        transform: translate(50%,-50%);
    }
    .quiz_progress-title span{
        display: none;
    }
    .quiz_progress{
        width: 93px;
        height: 93px;
        position: relative;
        margin-right: 20px;
        margin-bottom: 40px;
    }
    .quiz_step-title{
        width: calc(100% - 113px);
        margin-bottom: 40px;
        font-size: 22px;
        line-height: 120%;
    }
    .quiz_step.active{
        display: flex;
        flex-wrap: wrap;
        align-items: center;

    }
    .quiz_step-img{
        width: 100%;
    }
    .quiz_step-btns{
        flex-direction: column-reverse;
        width: 100%;
    }
    .quiz_step-next{
        width: 100%;
        margin-bottom: 20px;
    }
    .quiz_step-cheks{
        margin-bottom: 30px;
    }
    .quiz_step-prev{
        width: 100%;
    }

    .quiz_step-quiz {
        background: white;
    }

    /*.quiz_step:first-child .quiz_step-prev{*/
    /*    height: 0;*/
    /*}*/

    .quiz_step-price{
        display: none;
    }
    .quiz_step-desc{
        flex-direction: column;
        width: 100%;
    }
    .quiz_step-area{
        width: 100%;
        margin-bottom: 60px;
    }
    .quiz_step-files{
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        height: 70px;
    }
    .quiz_step-file{
        width: 48%;
        height: 100%;
    }
    .quiz_step-symbols {
        transform: translateY(-125px);
    }
    .quiz_type-supp{
        padding: 40px 20px 50px;
        max-width: 100%;
    }
    .quiz_type-supp{

    }
    .postcard_items .quiz_step-item {
        margin-bottom: 15px;
    }
    .postcard_btn{
        width: 100%;
    }
    .quiz_type-text{
        font-size: 14px;
        line-height: 130%;
    }
    .quiz_type-tiitle{
        font-size: 22px;
    }
    .quiz_step-end{
        width: 100%;
        margin-bottom: 20px;
    }
    .quiz_cart .quiz_step-title{
        width: 100%;
        margin-bottom: 30px;
    }
    .quiz_cart-adres{
        display: none;
    }
    .quiz_cart .quiz_step-symbols{
        transform: none;
        margin-bottom: 0;
    }
    .quiz_cart-media{
        margin-bottom: 30px;
    }
    .quiz_cart-subtitle{
        font-size: 20px;
        line-height: 120%;
        margin-bottom: 25px;
    }
    .quiz_cart-dop_item{
        background: #DAEDFF;
        border-radius: 10px;
        justify-content: space-between;
        margin-bottom: 20px;
        margin-right: 10px;
    }
    .quiz_cart-dop_add,
    .quiz_cart-dop_img{
        width: 150px;
        height: 150px;
        margin-right: 0;
    }
    .quiz_cart-dop_info{
        width: calc( 100% - 165px );
    }
    .quiz_cart-dop_item .quiz_cart-dop_count{
        margin: 0;
        order: 1;
    }
    .quiz_cart-dop_total{
        margin-bottom: 20px;
    }
    .quiz_cart-dop_items{
        margin-bottom: 15px;
        padding-right: 0;
    }

    .add_dop .quiz_cart-dop_name{
        width: calc( 100% - 165px );
        align-self: flex-start;
        padding-top: 18px;
    }
    .quiz_cart-dop_name{
        width: 100%;
        padding-right: 20px;
    }
    .quiz_cart-dop_body{
        padding-bottom: 20px;
    }
    .step-dispatch_inps .form_inp-wrapper span,
    .quiz_cart-promo .form_inp-wrapper span {
        border: 6px solid #fff;
        background-color: #fff;
    }
    .step-dispatch_inps .form_inp,
    .quiz_cart-promo .form_inp{
        background-color: #fff;
    }
    .cart_promo-total, .cart_promo-sale, .cart_promo-price{
        width: 70%;
    }
    .cart_promo-form{
        flex-direction: column;
        background:none;
    }
    .cart_promo-btn{
        width: 100%;
        background: #2783FE;
        border-radius: 10px;
        opacity: 0.5;
    }
    .quiz_cart-promo{
        padding-bottom: 30px;
        margin-bottom: 30px;
    }
    .quiz_cart-promo .form_inp-wrapper{
        margin-bottom: 20px;
        margin-right: 0;
        width: 100%;
    }
    .step-dispatch_btns{
        margin-top: 50px;
        flex-direction: column-reverse;
    }
    .quiz_step-buy{
        margin-bottom: 20px;
    }
    .quiz_buy{
        padding: 0;
        border-radius: 0;
    }
    .quiz_body{
        border-radius: 0;
    }
    .quiz_buy-price,
    .quiz_buy-id{
        font-size: 20px;
        line-height: 120%;
    }
    .quiz_step-ways{
        margin-bottom: 30px;
    }
    .thanks{
        background: none;
    }
    .thanks_info{
        padding: 0 15px;
    }
    .thanks_info-title{
        font-size: 30px;
        line-height: 120%;
        margin-bottom: 20px;
        text-align: center;
    }
    .thanks_info-text{
        text-align: center;
        font-size: 20px;
        line-height: 130%;
        margin-bottom: 375px;
    }
    .thanks_inner::before{
        display: none;
    }
    .thanks_body{
        box-shadow: none;
    }
    .thanks_img{
        bottom: 45px;
    }
    .thanks{
        margin-top: 53px;
    }
    .video_popup{
        height: 280px;
        padding: 0;
    }
    .video_popup .fancybox-close-small{
        background: none;
        top: -40px;
    }
}
@media(max-width:350px){
    .main_btn {
        width: 100%;
    }
    .main_item {
        font-size: 14px;
        line-height: 200%;
    }
    .how_wrapper-btn{
        width: 100%;

    }
    .thanks_info-btn,
    .gallery_btn {
        width: 100%;
    }
    .form_woman {
        top: 300px;
        width: 470px;
    }
}

.select-hidden {
    display: none;
    visibility: hidden;
    padding-right: 10px;
  }
  .select {
    cursor: pointer;
    display: inline-block;
    position: relative;
    z-index: 10;
  }
  .select-styled {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
  }
  .select-options {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 999;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #fff;
    padding: 15px 15px 5px;
    left: -15px;
    top: 100%;
    min-width: max-content;
  }
  .select-options li {
    font-size: 18px;
    color: #000;
    font-weight: 700;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Souvenir', 'Ubuntu', sans-serif;
  }
  .select-options li img{
      margin-left: 10px;
  }
  .select-options li[rel="hide"]  {
    display: none;
  }
  .select-styled{
    display: flex;
    align-items: center;
    font-weight: 700;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.015em;
    color: #2783FE;
    font-size: 18px;
    font-family: 'Souvenir', 'Ubuntu', sans-serif;
    padding-right: 32px;
}
.header_lang{
    position: relative;
    z-index: 1;
    cursor: pointer;

}
.select-styled img{
    margin-left: 10px;
}
.header_launges{
    position: absolute;
    display: flex;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
    width: calc(100%  + 30px);
}
.select-styled::before{
    position: absolute;
    content: "";
    background-image: url(../img/arrow_lang.svg);
    background-size: cover;
    width: 22px;
    height: 13px;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
}

.header_laung-actual img{
    margin-left: 10px;
}

.agreement-main {
    margin: 10px 20px;
}

.agreement-list,
.agreement-list__item {
    list-style-type: decimal;
}

.agreement-list__ul {
    padding-left: 30px;
}

.agreement-list__ul-item {
    list-style-type: circle;
}

.agreement-lists {
    margin-top: 10px;
}

.agreement-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
}
